
@{
    ViewBag.Title = "DaXacNhanAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>RẤT TIẾC BẠN KHÔNG PHẢI ADMIN !!!</h2>
<h3>Vui lòng về trang chủ.</h3>
<p>
    @Html.ActionLink("Về trang chủ", "GioHang", "GioHang")
</p>

